<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.mapper.RoleMapper">
    <resultMap id="roleResultMap" type="role">
        <id property="id" column="id"></id>
        <result column="roleName" property="roleName"></result>
        <result column="roleDesc" property="roleDesc"></result>
    </resultMap>


    <insert id="addPermissionToRole">
        insert into role_permission (permissionId,roleId)
        values
        <foreach collection="permissionIds" item="permissionId" separator=",">
            (#{permissionId},#{roleId})
        </foreach>
    </insert>

    <select id="findAll" resultMap="roleResultMap">
        select * from role

        <where>
            <if test="map.roleName!=null and map.roleName!=''">
                and roleName like CONCAT('%' ,#{map.roleName}, '%')
            </if>

            <if test="map.roleDesc!=null and map.roleDesc!=''">
                and roleDesc like CONCAT('%' ,#{map.roleDesc}, '%')
            </if>
        </where>
    </select>
</mapper>